<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>Home Page</title>
 <style>
  .title{
 font-weight: bolder;
 color: rgb(48, 253, 75); 
 background-color: rgb(1, 14, 2);
 text-align: center;
 font-size:xxx-large;
 padding: 10px;
 margin: 30px;
}

body {
 background-image: url('https://media.istockphoto.com/id/177032078/photo/green-tree-surrounded-by-cars.jpg?s=612x612&w=0&k=20&c=0Fp6HMvAZMA-cCUbsw2hfSGFeCm_XKSIZFZ5Xd-1wYs=');
 background-repeat: repeat;
}

 </style>
</head>
<body>
 <h1 class="title">Vehicles Parking Management System</h1>
</body>
</html>


